<!DOCTYPE html>
<html>
<head>
	<title>LG Proteções</title>
	<meta charset="utf-8">

	<!-- estilo customizdo -->
	<link rel="stylesheet" type="text/css" href="static/estilo.css">


</head>
	<body>
		
    	<img class="figura1" src="static/logo1.png"></br></br></br>
		
		
		<div>
			<h2><a href="" class="serv"></a></h2>
		</div>
		<div>
			<h2><a href="servicos" class="serv"></a></h2>
		</div>
		

		<div id="container"><!--inicio container -->



		<header><!--inicio header -->

		<div>
			<img class="figura2" src="static/1.png">
			<img class="figura2" src="static/4.png"></br></br></br></br>
		</div>

		</header><!--fim header -->

		<footer class="rodape">
			<h4>TODOS OS DIREITOS RESERVADOS - LG PROTEÇÕES LTDA.</h4>
			<h4>Contato: Lucas Gabriel - 11987878787</h4>
		</footer>

</body>
</html>